body{
  background-color: red;
}
.tabactive{
  border-bottom:  2px solid blue;
}
.label{
  font-size: 10 !important;
  font-weight: 600;
}
.input{
  height: 10 !important;
}
.input:focus{
  box-shadow: 0 0 3px rgb(122, 12, 224) !important;  
}



